<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.fer.drinkinggame">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cheers"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cheers"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity
            android:name=".menus.MainMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".AddingPlayerActivity" />
        <activity android:name=".AddingDataBombGameActivity" />
        <activity android:name=".AddingDataPantomimeActivity" />
        <activity android:name=".AddingDataActivity" />
        <activity android:name=".AddingDataNeverHaveIEverActivity" />
        <activity android:name=".InfoActivity"></activity>
    </application>

</manifest>